header {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px) saturate(180%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--blue12);
}

header h5 {
  font-weight: 700;
}

nav {
  display: flex;
  gap: 2rem;
}
