main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.mainContainer {
  width: var(--width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main span {
  font-weight: 700;
  color: var(--pink11);
}

.choiceContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.image {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.choice {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.choice:hover {
  filter: brightness(1.2) contrast(1.2);
}

.choice button {
  background-color: var(--blue9);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem;
  border: none;
  color: var(--white);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 700;
  cursor: pointer;
}

.yourVotes {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.yourVote {
  aspect-ratio: 1;
  position: relative;
  border-radius: 0.5rem;
  animation: slide-top 0.5s ease-in-out;
}

.yourVote img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.yourVoteVote {
  color: var(--white);
  font-size: 1.25rem;
  width: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  position: absolute;
  bottom: 4px;
  right: 0;
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 0.4rem;
  border-top-left-radius: 0.5rem;
}
