main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.mainContainer {
  width: var(--width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main span {
  font-weight: 700;
  color: var(--pink11);
}

.choiceContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.image {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.choice {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.choice:hover {
  filter: brightness(1.2) contrast(1.2);
}

.choice button {
  background-color: var(--blue9);
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem;
  border: none;
  color: var(--blue1);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 700;
  cursor: pointer;
}
